body {
    border: 2px solid black;
    width: 300px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h3 {
    border: 2px solid darkcyan;
    width: 50%;
    margin-left: 70px;
    background-color: darkcyan;
    color: white
}

h3, p {
    text-align: center;
}

#firstV, #secondV, #sub {
    margin-left: 65px;
}

#sub {
    margin-bottom: 30px;
    margin-top: 20px;
}

#button {
    position: absolute; 
    margin-left: 122px;
    margin-top: 10px;

}

